<header class="bg-green-700 text-white shadow-md" data-controller="mobile-menu">
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <!-- Логотип або назва блогу -->
    <div>
      <%= link_to t('header.title'), root_path, class: "text-3xl font-extrabold text-green-400 hover:text-green-300 transition-colors duration-300" %>
    </div>

    <!-- Навігаційне меню (для десктопа) вирівнювання по центру -->
    <nav class="hidden md:block flex-1 text-center">
      <ul class="flex justify-center space-x-6">
        <li>
          <%= link_to t('header.articles'), articles_path, class: "text-xl text-green-400 hover:text-green-300 transition-colors duration-300" %>
        </li>
        <li>
          <%= link_to t('header.about'), pages_about_path, class: "text-xl text-green-400 hover:text-green-300 transition-colors duration-300" %>
        </li>
        <li>
          <%= link_to t('header.terms'), pages_terms_path, class: "text-xl text-green-400 hover:text-green-300 transition-colors duration-300" %>
        </li>
      </ul>
    </nav>

    <!-- Кнопка Donate (для десктопа) -->
    <div class="hidden md:block">
      <%= link_to t('header.donate'), pages_donate_path, class: "inline-block bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-6 rounded-lg transition-colors duration-300" %>
    </div>

    <!-- Кнопка для мобільного меню -->
    <div class="block md:hidden">
      <button id="mobile-menu-button" class="text-green-300 hover:text-white" data-action="click->mobile-menu#toggle">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Мобільне меню -->
  <div id="mobile-menu" class="md:hidden bg-green-700 hidden" data-mobile-menu-target="menu">
    <ul class="flex flex-col space-y-2 px-4 pb-4">
      <li>
        <%= link_to t('header.articles'), articles_path, class: "block py-2 hover:text-green-300 transition-colors duration-300" %>
      </li>
      <li>
        <%= link_to t('header.about'), pages_about_path, class: "block py-2 hover:text-green-300 transition-colors duration-300" %>
      </li>
      <li>
        <%= link_to t('header.terms'), pages_terms_path, class: "block py-2 hover:text-green-300 transition-colors duration-300" %>
      </li>
      <li>
        <!-- Кнопка Donate в мобільному меню з фіксованою шириною -->
        <%= link_to t('header.donate'), pages_donate_path, class: "inline-block bg-red-600 hover:bg-red-700 text-white font-semibold py-2 px-6 rounded-lg mx-auto transition-colors duration-300" %>
      </li>
    </ul>
  </div>
</header>

